/*  
Author: WebThemez.com
License: https://webthemez.com/license 
*/

@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css?family=Coda+Caption:800&display=swap");
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h7,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.6;
  font-weight: 600;
}
h1,
h2 {
  font-family: "Rubik", sans-serif;
  font-family: "Coda Caption", sans-serif;
}

.cta,
.overlay__content a {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #fafafa;
  text-decoration: none;
}

.cta {
  padding: 6px 15px;
  background-color: #8eabd8;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color:#FFF;
}

.book,
.overlay__content a {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #fafafa;
  text-decoration: none;
}


.book {
  padding: 10px 15px;
  background-color: rgb(10, 119, 33);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.book:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color:#FFF;
}

.navbar-dark .navbar-brand {
  color: #303030 !important;
  font-family: "Coda Caption", sans-serif;
}
.navbar-dark .navbar-brand span {
  color: #8eabd8 !important;
}
.bg-primary {
  color: rgb(168, 242, 245) !important;
  background-color: #89d2db !important;
}
.btn-primary {
  color: #242121 !important;
  border-color: #373f5d !important;
  background: #373f5d;
}
.text-primary {
  color: #8eabd8 !important;
}
.bg-dark {
  /* background-color: #373f5d !important; */
}
header {
  /* padding: 70px 0 100px; */
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #080808;
  font-size: 0.937rem;
  font-weight: 600;
  padding: 0.625rem 1.25rem;
  border-radius: 50px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 1px;
}
::-moz-selection {
  color: #fff;
  background-color: #490bf9;
}

::selection {
  color: #fff;
  background-color: #490bf9;
}

.bg-primary ::-moz-selection {
  color: #490bf9;
  background-color: #fff;
}

.bg-primary ::selection {
  color: #490bf9;
  background-color: #fff;
}

.bg-overlay,
.hero-img {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.text-primary {
  color: #8eabd8 !important;
}
.hero-img {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.hero-content {
}
.inner-page {
  background: #006bdf;
}

.price-card .card-body ul li {
  line-height: 38px;
}
.contact-info i {
  font-size: 24px;
}
.team-dp ul {
  display: bock;
  margin: 0 auto;
  padding: 0;
}
.team-dp {
  text-align: center;
  display: bock;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-caption {
  position: absolute;
  left: 10px;
  z-index: 10;
  padding-top: 5px;
  padding-bottom: 5spx;
  color: white;
  text-align: left;
  top: 30%;
  /* max-width: 440px; */
}
.carousel-indicators li {
  height: 7px;
  border-radius: 0;
  overflow: hidden;
  width: 52px;
  background: white;
  padding: 0;
  margin: 0 2px;
  border: 0 solid #333;
}
.carousel-caption h2 {
  font-size: 40px;
  color: white;
}
.carousel-caption p {
  font-size: 22px;
  color: white;
}
.carousel-item .container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.btn-outline-primary {
  color: #373f5d;
  border-color: #373f5d;
}
.btn-outline-primary:hover {
  color: #333;
  background-color: #373f5d;
  border-color: #373f5d;
}
.card-body {
  background: #3b3b3b !important;
}
.card-body h5 {
  font-size: 15px;
  color: #373f5d;
}
.card {
  border: 3px solid rgba(0, 0, 0, 0.6);
}
.card-body p {
  font-size: 13px;
}
.price-card {
  color: #fff;
}
.bg-dark {
  background-color: #373f5d !important;
}
.navbar-dark .navbar-toggler {
  color: #3c3c3c;
  border-color: #373f5d;
}
.wt-blockquote-v2::before {
  color: #373f5d;
}
.navbar-collapse {
  padding: 25px 0;
}

@media only screen and (max-width: 600px) {
  .carousel-caption h2 {
    font-size: 19px;
    color: white;
  }
  .carousel-caption p {
    font-size: 14px;
    font-weight: bold;
    color: white;
  }
  .contact {
    justify-content: center !important;
  }
}

@media (max-width: 768px) {
  .hideOverflowOnMobile {
    overflow: hidden;
  }
}

/* .decoration-none {
  text-decoration: none;
}

.decoration-none {
  text-decoration: none;
} */

a:hover {
  text-decoration: none !important;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float a {
  color: white !important;
}

.my-float{
	margin-top:16px;
}

.owl-carousel .item{
  margin: 3px;
}
.owl-carousel .owl-item img {
  display: block;
  width: auto;
  height: 70px;
  margin: 0 auto;
}

.project-detail-img{
  width: 100%;
  display: block;
}

/* Testimonials Section
--------------------------------*/
#testimonials {
  padding: 60px 0;
}

#testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 0 30px;
  margin: 30px 15px;
  text-align: center;
  min-height: 250px;
  /* box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08); */
}

@media (max-width: 767px) {
  #testimonials .testimonial-item {
    margin: 30px 10px;
  }
}

#testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

#testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

#testimonials .testimonial-item .quote-sign-left {
  margin-top: -15px;
  padding-right: 10px;
  display: inline-block;
  width: 37px;
}

#testimonials .testimonial-item .quote-sign-right {
  margin-bottom: -15px;
  padding-left: 10px;
  display: inline-block;
  max-width: 100%;
  width: 37px;
}

#testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
  background: #ffffff;
  width: 100%;
  border: 1px solid #07cc91;
  border-radius: 15px 15px 0 15px;
  padding: 22px 15px;
  font-size: 15px;
  color: #686868;
}

#testimonials .owl-nav, #testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: #07cc91;
}
.map{
	
margin: 80px auto 40px;
}
p.help-block,
p.help-block ul{
    float: left; 
    margin: 0;
    padding: 0;
}
p.help-block li {
    float: left; 
    margin: 10px 0 0 0;
    padding: 0;
    list-style:none;
    color:red;
}

#about {
  padding: 90px 0 90px 0;
}

#about .about-img {
  overflow: hidden;
}

#about .about-img img {
  margin-left: -15px;
  max-width: 100%;
}

@media (max-width: 768px) {
  #about .about-img {
    height: auto;
  }
  #about .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

#about .content h2 {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

#about .content h3 {
  color: #555;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
}

#about .content p {
  line-height: 26px;
}

#about .content p:last-child {
  margin-bottom: 0;
}

#about .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #596bf3;
}

#about .content ul {
  list-style: none;
  padding: 0;
}

#about .content ul li {
  padding-bottom: 10px;
}

.mySlides {display:none;}